.ref-search-panel {
  &-hide {
    display: none;
  }

  & * {
    font-size: 12px;
  }

  // & .wui-panel-heading {
  //   border-bottom: 0px !important;
  // }

  & .ref-search-prefix-footer {
    text-align: right;

    // & .wui-button {
    //   background: #fff;
    //   color: #1e7be2;
    //   height: 30px;
    //   line-height: 1;
    // }
  }

  & .ref-search-prefix-icon {
    color: rgb(0, 191, 255) !important;
  }

  &-search-item {
    width: 170px;
    display: inline-block;
    vertical-align: middle;

  }

  // & .wui-panel .wui-panel-title {
  //   height: 25px;
  // }
}

.ref-search-prefix {
  background: #F7F9FB;

  &-header {
    color: #424242;
    overflow: hidden;
    height: 48px;
    padding: 11px 24px;

    &>a {
      overflow: hidden;
    }
  }

  &-header-title {
    float: left;
    color: #434A54;
    line-height: 26px;
    font-size: 14px;
    font-weight: 500;

    &>i {
      font-weight: 600;
    }
  }

  &-header-oper {
    float: right;
    vertical-align: center;
    line-height: 0;

    .header-oper-btn {
      display: inline-block;
      width: 64px;
      height: 26px;
      text-align: center;
      font-size: 12px;
      line-height: 26px;
      border-radius: 3px;
      margin-left: 8px;
      cursor: pointer;
      vertical-align: middle;

      &:hover {
        background: #EBECF0;
      }

      &>i {
        font-size: 12px;
        padding-right: 0;
      }

      &.primary {
        background: #5E6C84;
        color: #ffffff;

        &:hover {
          background: #344563;
        }
      }
    }
  }

  &-resident {
    padding: 0 24px 10px;
    // .u-row{
    //     margin-left: -40px;
    //     margin-right: -40px;
    // }
  }

  [class*="-collapse-default"] {
    // border-radius: 0;
    // border: none;
    // margin-bottom: 0;
    // box-shadow: none;
    background: transparent;

    // 这部分代码用到了吗？
    // .u-panel-heading {
    //     height: 48px;
    //     padding: 11px 24px;
    //     border: none;
    //     background: transparent;
    // }

    [class*="-collapse-body"] {
      // background: transparent;
      padding: 0 24px 10px;
    }

    // .wui-collapse-collapse.collapsing {
    //   width: 100%;
    // }
  }

}

/* FormGroup */
/*  Navlayout  */
// .collapsing {
//   position: relative;
//   height: 0;
//   overflow: hidden;
//   -webkit-transition-property: height, visibility;
//   transition-property: height, visibility;
//   -webkit-transition-duration: 0.35s;
//   transition-duration: 0.35s;
//   -webkit-transition-timing-function: ease;
//   transition-timing-function: ease;
// }

// .collapse {
//   display: none;
// }

// .collapse.in {
//   display: block;
// }

// .wui-panel {
//   line-height: 1.57142857;
//   color: #757575;
//   position: relative;
//   margin-bottom: 20px;
//   -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
//   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
//   background-color: #fff;
//   border: 1px solid transparent;
//   border-radius: 4px;
// }

// .wui-panel .wui-panel-heading {
//   border-top-left-radius: 3px;
//   border-top-right-radius: 3px;
//   position: relative;
//   padding: 10px 15px;
//   border-bottom: 1px solid transparent;
// }

// .wui-panel h4,
// .wui-panel h3 {
//   font-family: Roboto, sans-serif;
//   font-weight: 400;
//   line-height: 1.2;
//   color: #424242;
//   font-size: 18px;
//   text-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
// }

// .wui-panel .wui-panel-footer {
//   padding: 10px 15px;
//   background-color: #f5f5f5;
//   border-top: 1px solid #ddd;
//   border-bottom-right-radius: 3px;
//   border-bottom-left-radius: 3px;
// }

// .wui-panel .wui-panel-title {
//   margin-top: 0;
//   margin-bottom: 0;
//   display: block;
//   font-size: 18px;
//   color: #424242;
// }

// .wui-panel .wui-panel-title .small {
//   color: #757575;
// }

// .wui-panel .wui-panel-body {
//   padding: 15px 15px;
//   position: relative;
// }

// .wui-panel .wui-panel-body .wui-panel-copy {
//   position: absolute;
//   right: 25px;
//   top: 30px;
//   color: #fff;
//   font-size: 20px;
//   padding: 2px 8px;
//   margin: 8px;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .wui-panel .wui-panel-body .wui-panel-copy:hover {
//   color: #a8a7a7;
// }

// .wui-panel-default {
//   border-color: #ddd;
// }

// .wui-panel-default .wui-panel-heading {
//   background-color: #f5f5f5;
//   color: #333;
// }

// .wui-panel-default .wui-panel-footer {
//   border-top: 1px solid transparent;
// }

// .wui-panel-bordered {
//   border-color: #ddd;
// }

// .wui-panel-bordered .wui-panel-heading {
//   border-bottom: 1px solid #ddd;
// }

// .wui-panel-bordered .wui-panel-footer {
//   border-top: 1px solid #ddd;
//   background-color: #fff;
// }

// .wui-panel> :not(.panel-loading):not(.collapsing) {
//   -webkit-transition: opacity .3s;
//   -o-transition: opacity .3s;
//   transition: opacity .3s;
// }

// .wui-button-group-vertical>.wui-button-group:after,
// .wui-button-group-vertical>.wui-button-group:before,
// .wui-button-toolbar:after,
// .wui-button-toolbar:before,
// .clearfix:after,
// .clearfix:before,
// .wui-container-fluid:after,
// .container-fluid:before,
// .wui-container:after,
// .wui-container:before,
// .dl-horizontal dd:after,
// .dl-horizontal dd:before,
// .form-horizontal .form-group:after,
// .form-horizontal .form-group:before,
// .wui-modal-footer:after,
// .wui-modal-footer:before,
// .wui-modal-header:after,
// .wui-modal-header:before,
// .nav:after,
// .nav:before,
// .navbar-collapse:after,
// .navbar-collapse:before,
// .navbar-header:after,
// .navbar-header:before,
// .navbar:after,
// .navbar:before,
// .pager:after,
// .pager:before,
// .wui-panel-body:after,
// .wui-panel-body:before,
// .row:after,
// .row:before {
//   display: table;
//   content: " ";
// }

// .wui-panel-body .h1:first-child,
// .wui-panel-body .h2:first-child,
// .wui-panel-body .h3:first-child,
// .wui-panel-body .h4:first-child,
// .wui-panel-body .h5:first-child,
// .wui-panel-body .h6:first-child,
// .wui-panel-body h1:first-child,
// .wui-panel-body h2:first-child,
// .wui-panel-body h3:first-child,
// .wui-panel-body h4:first-child,
// .wui-panel-body h5:first-child,
// .wui-panel-body h6:first-child {
//   margin-top: 0;
// }

// .wui-panel-group {
//   margin-bottom: 20px;
// }

// .wui-panel-group .wui-panel {
//   margin-bottom: 0;
//   border-radius: 4px;
// }

// .wui-panel-group .wui-panel+.wui-panel {
//   margin-top: 5px;
// }

// .wui-panel-group .wui-panel-heading {
//   border-bottom: 0;
//   cursor: pointer;
// }

// .wui-panel-group .wui-panel-heading+.wui-panel-collapse>.list-group,
// .wui-panel-group .wui-panel-group .wui-panel-heading+.wui-panel-collapse>.wui-panel-body {
//   border-top: 1px solid #ddd;
// }